{#
  Player containers and rosters.
#}

{% set playerClasses = [
  'card',
  'player',
  (player.isActive ? 'player--active' : ''),
  (player.getClientId() ? 'player--owned' : ''),
]|join(' ')|trim %}

<div class="cell medium-4">
  <div class="{{ playerClasses }}" data-player-id="{{ player.getId() }}"{% if player.getClientId() %} data-client-id="{{ player.getClientId() }}"{% endif %}>
    <div class="card-section">
      <h4>{{ player.getName() }}</h4>
      <div class="player-picker button" data-tooltip tabindex="2" title="Select this player to start picking characters for them." data-position="top" data-alignment="center" data-player-pick-id="{{ player.getId() }}">Be This Player</div>

      <div class="player-roster-container">
        {% include 'player-roster.twig' %}
      </div>
    </div>
  </div>
</div>
