{#
  Individual stage portraits. These are rendered both in a roster or in the
  Game Round container, if stages are per-round.
#}
{% set stageClasses = [
  'stage',
  (isDisabled ? 'stage--disabled' : ''),
  (player.hasStage(stage) ? 'stage--active' : ''),
  (stage.getState() ? 'stage--' ~ stage.getState() : ''),
]|join(' ')|trim %}

{% set stageStyles = [
  (stage.getImage() ? 'background-image: url(' ~ stage.getImage() ~ ')' : ''),
  (stage.getImage() ? 'background-color: #FFFFFF' : ''),
]|join('; ')|trim %}

<div class="{{ stageClasses }}" data-stage-round="{{ stageRound ? stageRound : 0 }}" data-stage-id="{{ stage.getId() }}" style="{{ stageStyles }}">
  {% for player in stage.getPlayers()|keys %}
    {% set tokenClasses = [
      'stage-token',
      'stage-token--' ~ player,
    ]|join(' ')|trim %}
    <span class="{{ tokenClasses }}"></span>
  {% endfor %}
  <span class="stage-name">{{ stage.getName() }}</span>
</div>
